<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>feb19743.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE1D0CC21C77A806008EBF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1D0CD61C77A806008EBF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1D0CE11C77A806008EBF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
